:root {
    --main-bg: #f5f6fa;
    --options-color: #5359b8;
    --danger-color: #ee6364;
    --text-primary: #585f66;
    --text-secondary: #7c7f83;
}

* {
    font-family: 'Nunito', sans-serif;
}

:is(h1, h2, h3, h4, h5, h6) {
    margin-bottom: 0px;
}

.App {
    min-height: 100vh;
    background-color: var(--main-bg);
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    padding-bottom: 2rem;
}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
}